<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manajemen Jadwal Dokter</title>
    <%- include('partials/head') %>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('partials/sidebar', { user: user }) %>
            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%- include('partials/header', { pageTitle: 'Manajemen Jadwal Dokter', user: user }) %>
                
                <div class="row mb-3">
                    <div class="col-md-12">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambahJadwalModal">
                            Tambah Jadwal Baru
                        </button>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Dokter</th>
                                    <th>Hari</th>
                                    <th>Jam Mulai</th>
                                    <th>Jam Selesai</th>
                                    <th>Kuota Online</th>
                                    <th>Kuota Offline</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% schedules.forEach(function(schedule) { %>
                                <tr>
                                    <td><%= schedule.namaUser %></td>
                                    <td><%= schedule.hari %></td>
                                    <td><%= schedule.jamMulai %></td>
                                    <td><%= schedule.jamSelesai %></td>
                                    <td><%= schedule.kuotaOnline %> (Sisa: <%= schedule.sisaKuotaOnline %>)</td>
                                    <td><%= schedule.kuotaOffline %> (Sisa: <%= schedule.sisaKuotaOffline %>)</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateJadwalModal-<%= schedule.idJadwal %>">
                                            Edit
                                        </button>
                                    </td>
                                </tr>

                                <!-- Modal untuk update jadwal -->
                                <div class="modal fade" id="updateJadwalModal-<%= schedule.idJadwal %>" tabindex="-1">
                                    <!-- Isi modal sama seperti sebelumnya -->
                                </div>
                                <% }); %>
                            </tbody>
                        </table>

                        <!-- Modal tambah jadwal -->
                        <div class="modal fade" id="tambahJadwalModal" tabindex="-1">
                            <!-- Isi modal sama seperti sebelumnya -->
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>